# === Database Configuration ===
DB_USER=your_username
DB_PASSWORD=your_secure_password
DB_NAME=agona_db

# === Infrastructure Configuration ===
VIRTUAL_HOST=develop.example.com
VIRTUAL_HOST_MAIN=main.example.com
DEFAULT_HOST=default.local

# Email для выпуска SSL-сертификатов через Let's Encrypt
ACME_EMAIL=your_email@example.com

# === GitLab CI / Docker Configuration ===
CI_REGISTRY_IMAGE=://registry.gitlab.com

# Теги образов для разных окружений
TAG=develop
TAG_MAIN=main
